.section {
  flex: 4;
  padding: 20px;
}

.sectionTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.sectionContainer {
  display: flex;
  margin-top: 20px;
}

.sectionShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.sectionUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}

.sectionShowTop {
  display: flex;
  align-items: center;
}

.sectionShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.sectionShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.sectionShowSectionname {
  font-weight: 600;
}

.sectionShowSectionTitle {
  font-weight: 300;
}

.sectionShowBottom{
    margin-top: 20px;
}

.sectionShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.sectionShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.sectionShowIcon{
    font-size: 16px !important;
}

.sectionShowInfoTitle{
    margin-left: 10px;
}

.sectionUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}

.sectionUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.sectionUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.sectionUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.sectionUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
}

.sectionUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sectionUpdateUpload{
    display: flex;
    align-items: center;
}

.sectionUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.sectionUpdateIcon{
    cursor: pointer;
}

.sectionUpdateButton{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}